body {
    margin-top: 100px;
    background-image: url(/assets/img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: azure;
}

nav a {
    margin-left: 20px;
}

i {
    margin-right: 5px;
}

.deconnexion {
    cursor: pointer;
}

@media only screen and (max-width: 734px) and (orientation:portrait) {
    #navbarToggleExternalContent {
        margin-left: -40%;
    }
}

@media only screen and (max-width: 734px) and (orientation:landscape) {
    #navbarToggleExternalContent {
        margin-left: -50%;
    }
}

@media only screen and (min-width: 735px) and (orientation:portrait) {
    #navbarToggleExternalContent {
        display: none;
    }
}

@media only screen and (min-width: 735px) and (orientation:landscape) {
    #navbarToggleExternalContent {
        display: none;
    }
}