{% extends 'layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/user/connection.css">
{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="username" name="username" value="" placeholder="Flabinouse">
                <div class="bg-danger text-white text-center">{{ userNameError }}</div>
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" value="" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
                <div class="bg-danger text-white text-center">{{ passwordError }}</div>
            </div>

            <button type="submit" class="btn btn-primary">Se connecter</button>
            
            <div class="align-item">
                <a>Vous ne possédez pas encore de compte ?</a>
                <a href="/register"> S'inscrire</a>
            </div>
            {% if ispost %}
            <div class="p-1 mb-1 bg-danger text-white text-center">{{ IdentificationError }}</div>
            {% endif %}
        </form>
    </div>
{% endblock %}